{
    "parser": "@typescript-eslint/parser",
    "extends": ["airbnb-base", "plugin:prettier/recommended"],
    "plugins": ["@typescript-eslint"],
    "env": {
        "jest": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    },
    "parserOptions": {
        "project": "./tsconfig.eslint.json"
    },
    "rules": {
        "import/extensions": "off",
        "no-undef": "off",
        "no-unused-vars": "off",
        "no-restricted-globals": "off",
        "no-useless-constructor": "off",
        "import/prefer-default-export": "off",
        "import/no-extraneous-dependencies": "off",
        "no-restricted-syntax": "off",
        "max-classes-per-file": "off",
        "no-plusplus": "off",
        "class-methods-use-this": "off",

        /**
        * Rule is incompactable with typescript
        */
        "no-empty-function": "warn",

        "consistent-return": "warn",
        "no-await-in-loop": "warn",
        "no-continue": "warn"
    },
    "ignorePatterns": "src/index.ts"
}
